doctype html
html
    head
        meta(charset='utf-8')
        title= title
    body
        table
            each i in catValues
                tr
                    th= i.name
                    th= i.age
                    th= i.gender